<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->


<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Rose Villa Homestay in Kochi,Taxi Services - Honeymoon Packages </title>{% endblock %}
<meta name="keywords" content="Rose Villa Homestay Kochi,Rose Villa Taxi Services, Rose Villa Honeymoon Packages, Rose Villa Kochi, Taxi Services Kochi, Home Stay Kochi, Home Stay Ernakulam"/>
<meta name="description" content="Welcome to Rose Villa HomeStay - &amp; Rose Villa offers best tour packages with best customer satisfaction for kochi tours, accommodations and Honeymoon packages. "/>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
    
    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/apple-touch-icon-114x114-precomposed.html') }}">
    
    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/apple-touch-icon-72x72-precomposed.html') }}">
    
    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-57x57-precomposed.html') }}"> 
    
    <!-- Library - Google Font Familys -->  
    
    <!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="{{ asset('libraries/lib.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('libraries/calender/calendar.css') }}">
    
    <!-- Custom - Common CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/navigation-menu.css') }}">
    
    <!-- Custom - Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/shortcodes.css') }}" />
        
    <!--[if lt IE 9]>
        <script src="js/html5/respond.min.js"></script>
    <![endif]-->
    
</head>
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
    
    
    <!-- Loader -->
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class=" ball-clip-rotate loader_img">
            <img src="{{ asset('images/loader.gif') }}">
                
            </div>
        </div>
    </div><!-- Loader /- -->
    <a id="top"></a>
        
    <!-- Header Section -->
    <header id="header" class="header-section header-position container-fluid no-padding">
        <!-- Top Header -->
        <div class="top-header container-fluid no-padding">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="logo-block col-md-3"><a href="index.html" title="The Holiday Home Stay, &amp;  Taxi Services"><img src="{{ asset('images/logo.png') }}" alt="The Holiday Home Stay, &amp;  Taxi Services" /></a></div>
                    <div class="col-md-9 contact-detail">
                        <div class="phone">
                            <img src="{{ asset('images/phone-ic.png') }}" alt="Phone" />
                            <h6 class=" mobile">contact us</h6>
                            <a href="tell:+91 9895662215" title="+91 9895662215">+91 9895662215, +91 04802788810</a>
                        </div>
                        <div class="phone">
                            <img src="{{ asset('images/mail.png') }}" alt="Email" />
                            <h6 class=" mobile">Email us</h6>
                            <p><a href="mailto:justinvarghese500@gmail.com.com">justinvarghese500@gmail.com.com</a></p>
                        </div>
                        
                    </div>
                </div>
            </div><!-- Container /- -->
        </div><!-- Top Header /- -->
        <!-- Menu Block -->
    
        {% block body %}   {% endblock %}
       
 

 <div class="footer-section container-fluid no-padding">
        <!-- Top Footer -->
        <div class="top-footer container-fluid no-padding">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <!-- Text Widget -->
                    
                    <aside class="col-md-7 col-sm-12 col-xs-12 widget text_widget">
                    <h4 class="widget_title">Root Map</h4>
                    <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="360px" id="gmap_canvas" src="https://maps.google.com/maps?q=santosham%20chest%20hospital&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.pureblack.de/google-maps/"></a>
                    </div>
                    <style>
                        .mapouter {
                            text-align: right;
                            height: 400px;
                            width: 100%;
                        }
                        .gmap_canvas {
                            overflow: hidden;
                            background: none!important;
                            height:346px;
                            width:100%;
                        }
                    </style>
                </div><!--  Map Section /- -->
                    
                    
                    
        






</aside>
                    
                    
                    <aside class="col-md-5 col-sm-6 col-xs-6 widget text_widget contact-content ">
                        <h4 class="widget_title">Leave A Message</h4>
                    
            
                    <form class="contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="input_name" name="contact-name" placeholder="Full Name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="input_email" name="contact-email" placeholder="Email Address" required />
                        </div>
                        <div class="form-group">
                            <textarea id="textarea_message" class="form-control" rows="5" name="contact-message" placeholder="Type here message" required ></textarea>
                        </div>
                        <div class="form-group">
                            <input id="btn_submit" type="submit" value="Send Message" />
                        </div>
                        <div id="alert-msg" class="alert-msg"></div>
                    </form>
                <!-- Contact Content /- -->

                    
                    </aside><!-- Gallery /- -->
                </div>
            </div><!-- Container /- -->
        </div><!-- Top Footer -->
        <div class="bottom-footer container-fluid">
            <p>&copy; Copyrights 2018 <strong>Trico Tech</strong>. All Rights Reserved</p>
        </div>
    </div><!-- Footer Section /- -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-sjK1Kv9lD0KmAqRXb_shhnrvAS5s8qQ&callback=initMap">
    </script>
    <!-- JQuery v1.11.3 -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    
    <!-- Library JS -->
    <script src="{{ asset('libraries/lib.js') }}"></script>
    
    <script src="{{ asset('../code.jquery.com/jquery-migrate-1.0.0.js') }}"></script>
        
    <!-- Library - Theme JS --> 
    <script src="{{ asset('js/functions.js') }}"></script> 

</body>

</html>