{% extends 'base.html.twig' %}
{% block title %} <title>Facilities - Rose Villa Home Stay</title> {% endblock %}

{% block body %}

		<!-- Menu Block -->

		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-default ow-navigation">
							<div class="navbar-header">
								<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a href="index.php" title="The Holiday Resorts, Cottages & Spa, Manali" class="navbar-brand"><img src="{{ asset('images/mlogo.png') }}" alt="The Holiday Resorts, Cottages &amp; Spa Manali" /></a>
							</div>
							<div class="navbar-collapse collapse" id="navbar">
								<ul class="nav navbar-nav">
									<li><a href="{{ path('homepage') }}" title="Home">Home</a></li>
                                    <li><a href="{{ path('aboutpage') }}" title="About Us">About Us</a></li>
                                    <li><a href="{{ path('packagespage') }}" title="Packages">Packages</a></li>
                                   	<li class="active"><a href="{{ path('facilitiespage') }}" title="Facilities">Facilities</a></li>
									<li><a href="{{ path('gallerypage') }}" title="Gallery">Gallery</a></li>
									<li><a style="padding-right:50px" href="{{ path('contact_uspage') }}" title="Contact">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->
	<main class="site-main page-spacing">
		<div class="container-fluid page-banner about-banner">
			<div class="container">
				<h3>Facilities</h3>
				<ol class="breadcrumb">
					<li><a href="index.php">Home</a></li>
					<li class="active">Facilities</li>
				</ol>
			</div>
		</div><!-- Page Banner /- -->
		
		<div class="section-padding"></div>
		
		<div class="container-fluid no-padding blog-post-list">
			<!-- Container -->
			<div class="container">
				<div class="col-md-9 col-sm-8 content-area no-padding">
					<div style="padding:0px" class="  col-lg-12 no-padding no-margin">
				<article class=" type-post col-md-12 no-padding">
						<div style="padding:10px;" class="entry-cover col-md-6 ">
							<a href="#"><img src="{{ asset('images/facilities1.jpg') }}" alt="Best hotel in manali" /></a>
						</div>
						<div style="padding:10px;" class="entry-cover col-md-6 ">
							<a href="#"><img src="{{ asset('images/facilities2.jpg') }}" alt="Best Resort in manali" /></a>
						</div>
						
					</article>
					<article style="padding:10px; margin-top:10px; margin-bottom:0px; " class="type-post col-md-12 no-padding">
						<div class="col-md-12 content-box no-padding">
							<h3 class="entry-title"><a href="#" >The Holiday Rose Villa - Home Stay & Taxi Service, Kochi</a></h3>
							<div class="entry-content">
								<p>The Rose Villa, Kochi offers a plethora of facilities and services for your repose and convenience.</p>
								<p>Discotheque | Restaurant | TV with cable connection | Telephone
                                   
Room service | Wi-Fi facility | Business centre | Laundry service

Bicycles on hire | Car rental facility| Lawns/garden | Gaming area

Dining hall | Sun beds | Ample parking space</p>
							</div>
							
						</div>
					</article>
                   </div>
					
					
					
				</div>
				
                <div class="widget-area col-md-3 col-sm-4">
					<aside class="widget widget-catagories">
						<h3 class="widget-title">Room categories</h3>
						<ul>
							<li><a href="" >Standard Rooms</a></li>
<li><a href="" >Honeymoon Rooms</a></li>
<li><a href="" >2 Bedroom Cottage</a></li>
<li><a href="" >4 Bedroom Family Cottage</a></li>


						</ul>
					</aside>
                    <aside class="widget widget-catagories">
						<h3 class="widget-title">Taxi Service</h3>
						<ul>
							<li><a href="" >Two Family</a></li>
<li><a href="" >20 Person</a></li>



						</ul>
					</aside>
					
				</div>				
                
			</div><!-- Container -->
			<div class="section-padding"></div>
		</div>
        
        
        
		
	</main>
{% endblock %}