{% extends 'base.html.twig' %}
{% block title %} <title> Packages - Rose Villa Home Stay</title>{% endblock %}
{% block body %}

<!-- Menu Block -->
		<div class="menu-block">
			<!-- Container -->
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-default ow-navigation">
							<div class="navbar-header">
								<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a href="index.php" title="The Holiday Resorts, Cottages & Spa, Manali" class="navbar-brand"><img src="{{ asset('images/mlogo.png') }}" alt="The Holiday Resorts, Cottages &amp; Spa Manali" /></a>
							</div>
							<div class="navbar-collapse collapse" id="navbar">
								<ul class="nav navbar-nav">
                  <li><a href="{{ path('homepage') }}" title="Home">Home</a></li>
                                    <li><a href="{{ path('aboutpage') }}" title="About Us">About Us</a></li>
                                    <li class="active"><a href="{{ path('packagespage') }}" title="Packages">Packages</a></li>
                                    <li><a href="{{ path('facilitiespage') }}" title="Facilities">Facilities</a></li>
                  <li><a href="{{ path('gallerypage') }}" title="Gallery">Gallery</a></li>
                  <li><a style="padding-right:50px" href="{{ path('contact_uspage') }}" title="Contact">Contact</a></li>
                </ul>
							</div>
						</nav>
					</div>
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Menu Block /- -->
	</header><!-- Header Section /- -->	<main class="site-main page-spacing">
  <div class="container-fluid page-banner about-banner">
    <div class="container">
      <h3>Packages</h3>
      <ol class="breadcrumb">
        <li><a href="index.php">Home</a></li>
        <li class="active">Packages</li>
      </ol>
    </div>
  </div>
  <!-- Page Banner /- -->
  <div class="section-padding"></div>
  <div class="container-fluid no-padding blog-post-list">
    <!-- Container -->
    <div class="container">
      <div class="col-md-12 col-sm-12 content-area">
        <article class="col-md-12 no-padding">
          <div class="entry-cover col-md-12 ">
            <h1 align="center">THE ROSE VILLAS, HONEYMOON PACKAGE<br>
              <span class="small"><i class="fa fa-clock-o"></i> CHECK-IN TIME : 12:00 PM &nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o"></i> CHECK-OUT TIME : 10:00 AM </span></h1>
          </div>
          <div class="row">
          <div class="entry-cover col-md-6 ">
            <div class="entry-content"> <img src="{{ asset('images/accommodation/accommodation1.jpg') }}" style="width:100%" />
              <h3 class="entry-title"><strong>Package Cost: Rs. 23,000/ net amount per couple<br>
                3 nights 4 days package for one couple on (MAP)</strong></h3>
              <p><strong>INCLUSIONS OF PACKAGE:</strong></p>
              <ul style="text-align:left">
                <li><strong>01 Standard Room (Without Balcony and without Mountain Facing) accommodation</strong></li>
                <li>Welcome Drink on arrival</li>
                <li>Daily Morning Bed Tea, Breakfast</li>
                <li>Daily Choice of Lunch or Dinner</li>
                <li>Complimentary Half day local sight seeing around Munnar 4 hrs )by Individual Car</li>
                <li>One day full sight seeing to Sea &amp; solang valley. )  by Individual Car</li>
                <li>Complimentary Wine bottle &amp; Cake</li>
                <li>Cookies and Fruit Basket on arrival</li>
                <li>Two Glasses of Almond Milk every night.</li>
                <li>One Candle light Dinner.</li>
                <li>Standard Room : with all available things like flower decoration.</li>
                <li>Complimentary Pickup &amp; dropping facility to the Mall on Arrival and Departure time.</li>
                <li>Tea/Coffer maker in room</li>
                <li>Bathroom slippers</li>
              </ul>
            </div>
          </div>
          <div class="entry-cover col-md-6 ">
            <div class="entry-content"> <img src="{{ asset('images/accommodation/accommodation3.jpg') }}" style="width:100%" />
              <h3 class="entry-title"><strong>Package Cost: Rs. 26,000/ net amount per couple<br>
                3 nights 4 days package for one couple on (MAP)</strong></h3>
              <p><strong>INCLUSIONS OF PACKAGE:</strong></p>
              <ul style="text-align:left">
                <li>Welcome Drink on arrival</li>
                <li>Daily Morning Bed Tea, Breakfast</li>
                <li>Daily Choice of Lunch or Dinner</li>
                <li>Complimentary Wine bottle &amp; Cake</li>
                <li>Cookies and Fruit Basket on arrival</li>
                <li>Two Glasses of Almond Milk every night.</li>
                <li>One Candle light Dinner.</li>
                <li>Deluxe Room : with all available things like flower decoration.</li>
                <li>Complimentary Pickup &amp; dropping facility to the Mall on arrival and departure time .</li>
                <li>Tea/Coffer maker in room</li>
                <li>Electronic Safe in room</li>
                <li>Bathroom slippers</li>
              </ul>
            </div>
          </div>
          </div>
                   
        </article>
        <article class="col-md-12 no-padding">
          <div class="entry-cover col-md-12 ">
            <h1 align="center">THE ROSE VILLAS, SUMMER PACKAGE<br>
              <span class="small"><i class="fa fa-clock-o"></i> CHECK-IN TIME : 12:00 PM &nbsp;&nbsp;&nbsp;<i class="fa fa-clock-o"></i> CHECK-OUT TIME : 10:00 AM </span></h1>
          </div>
          <div class="row">
          <div class="entry-cover col-md-6 ">
            <div class="entry-content"> <img src="{{ asset('images/accommodation/accommodation1.jpg') }}" style="width:100%" />
              <h3 class="entry-title"><strong>Package Cost: Rs. 23,000/ net amount per couple<br>
                3 nights 4 days package for one couple on (MAP)</strong></h3>
              <p><strong>INCLUSIONS OF PACKAGE:</strong></p>
              <ul style="text-align:left">
                <li><strong>01 Standard Room (Without Balcony and without Mountain Facing) accommodation</strong></li>
                <li>Welcome Drink on arrival</li>
                <li>Daily Morning Bed Tea, Breakfast</li>
                <li>Daily Choice of Lunch or Dinner</li>
                <li>Complimentary Half day local sight seeing around Munnar 4 hrs )by Individual Car</li>
                <li>One day full sight seeing to Sea &amp; solang valley. )  by Individual Car</li>
                <li>Complimentary Wine bottle &amp; Cake</li>
                <li>Cookies and Fruit Basket on arrival</li>
                <li>Two Glasses of Almond Milk every night.</li>
                <li>One Candle light Dinner.</li>
                <li>Standard Room : with all available things like flower decoration.</li>
                <li>Complimentary Pickup &amp; dropping facility to the Mall on Arrival and Departure time.</li>
                <li>Tea/Coffer maker in room</li>
                <li>Bathroom slippers</li>
              </ul>
            </div>
          </div>
          <div class="entry-cover col-md-6 ">
            <div class="entry-content"> <img src="{{ asset('images/accommodation/accommodation3.jpg') }}" style="width:100%" />
              <h3 class="entry-title"><strong>Package Cost: Rs. 26,000/ net amount per couple<br>
                3 nights 4 days package for one couple on (MAP)</strong></h3>
              <p><strong>INCLUSIONS OF PACKAGE:</strong></p>
          <ul style="text-align:left">
            <li>Accommodation 3 nights 4 days</li>
            <li>Welcome Drink on arrival</li>
            <li>Daily Morning Bed Tea</li>
            <li>Daily Buffet Breakfast &amp; Dinner</li>
            <li>Daily 1 Bottle of Mineral Water Complimentary </li>
            <li>Cookies  on arrival</li>
            <li>Free usage of Internet</li>
            <li>Complimentary use of Games Room, Table Tennis</li>
            <li>Free use of Pool Table</li>
            <li>Tea &amp; Coffee maker in rooms</li>
            <li>Free Entry to Discotheque</li>
            <li>Children Below 5 Complimentary</li>
            <li>Package extendable on Pro-Rate Basis(Sub to Availability)</li>
            <li>20% Discount on Additional Food Bills</li>
            <li>20% Discount on Spa Treatment</li>
            <li>Free Pick &amp; Drop From Bus Stand  once Arrival and Departure Time</li>
            <li>Children below 5 years are complimentary basis</li>
            <li>Children 5 to 12 year will charge Rs.1500 per day with breakfast &amp; dinner with extra bed.</li>
            <li>Children Above 12 year will charge Rs.2000 per day with breakfast &amp; dinner with extra bed.</li>
            <li>Children without extra bed will charge Rs.1000 per day with breakfast &amp; dinner </li>
          </ul>
        
            </div>
          </div>
          </div>
                   
        </article>
      </div>
    </div>
    <!-- Container -->
    <div class="section-padding"></div>
  </div>
</main>
	

{% endblock %}